#main_grad_1 {
      height: 400%;
      background-image: linear-gradient(#5e72e4 20px, #d1d3d5 300px);
    }

.sale-card {
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
    margin-left: 0%;
    height: 50%;
}

.sale-card .header {
    justify-content: center;
    font-weight: bold;
    font-size: x-large;
    font-style: italic;
    font-family: ui-monospace;
    color : white;
}

.time_range_sale {
    width: 125px;
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    right: -1%;
    background-color: #71639e;
    color: white;
}

.filter_view {
    width: 125px;
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    right: -1%;
    background-color: #71639e;
    color: white;
}

/* Card Section */
.card-container {
    display: flex;
    margin-left: -143px;
    margin-top: 0px;
    flex-wrap: wrap;
    justify-content: center;
    /* width: 147%; */
    height: 30%;
    margin-left: 1%;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 20%;
    /* margin-left: 3%; */
    der-radius: 14px;
    justify-content: left;
    margin-left: 0%;
    border-radius: 12px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}

.card_icon {
    box-shadow: 0 8px 16px 0 rgb(113 111 111 / 75%);
    width: 45px;
    height: auto;
    margin-left: 20px;
    margin-top: -25px;
    transition: transition: 0.3s;
    transition: 0.3s;
}

.card-numbers {
    margin-top: 10px;
    font-size: 14px;
    color: #555;
}

.card-numbers p {
    margin: 0;
}

.chart-card .card {
    margin-bottom: 30px;
    border: 0px;
    border-radius: 0.625rem;
    box-shadow: 6px 11px 41px -28px #a99de7;
}

.chart-card .card .card-body {
    padding: 1.88rem 1.81rem;
    background-color: transparent !important;
}

.icon-container {
   position: absolute;
   top: -20px;
   left: 17%;
   transform: translateX(-50%);
   font-size: 24px;
}

.status-card-row{
width: 19%;
}

.status-card {
    border: 1px solid #ddd;
    border-radius: 25px;
    padding: 20px;
    margin: 5px;
    width: 110%;
    float: left;
    background-color: white;
    margin-top: 3%;
}

.status-card-header {
    font-size: 1 em;
    font-weight: bold;
}

.status-card-body {
    margin-top: 10px;
}

.progress-bar {
   background-color: #4caf50;
   height: 15px;
   width: 0;
   text-align: center;
   color: white;
   border-radius: 5px;
}

.progress-container {
    background-color: #f3f3f3;
    border-radius: 5px;
    width: 100%;
    margin-top: 5px;
}

.status-section {
    margin-top: 20px;
}

.scrollable-card {
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: white;
    padding: 0px;
    margin: 0px;
    width: 73%;
    margin-left: 20%;
    overflow-y: auto;
    max-height: 361px;
    ox-sizing: border-box;
    margin-top: -7%;
    margin-top: -673px;
}

.scrollable-table {
    width: 100%;
    border-collapse: collapse;
}

.scrollable-table th, .scrollable-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.scrollable-table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

/*------------------------- */

.scroll-card {
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: white;
    padding: 0px;
    margin: 0px;
    width: 73%;
    margin-left: 20%;
    overflow-y: auto;
    max-height: 361px;
    ox-sizing: border-box;
    margin-top: -7%;
    margin-top: -673px;
}

.scroll-table {
    width: 100%;
    border-collapse: collapse;
}

.scroll-table th, .scroll-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.scroll-table th {
    background-color: #f2f2f2;
    font-weight: bold;
}






#scroll-chart{
    margin-top: 687px;
    width: 100%;
    height: 0px;
}

#multi-filter-view{
    display: none;
}

#date_field_operators{
    display: none;
}

#set_not_set_operator{
    display: none;
}

#values_operator{
    display: none;
}

#id_operator{
    display: none;
}
#activity_exception_decoration{
    display: none;
}
#activity_state{
    display: none;
}
#invoice_status{
    display: none;
}
#picking_policy{
    display: none;
}
#state{
    display: none;
}
#terms_type{
    display: none;
}
#o_input_date_from{
    display: none;
}

#o_input_date_to{
    display: none;
}

#print_pdf{
  width: 100px;
  height: 47px;
  margin-left: -4%;
  border: 2px solid #ccc;
  padding: 10px;
}

#print_xlsx{
    width: 102px;
    height: 47px;
    margin-left: -4%;
    border: 2px solid #ccc;
    padding: 10px;
}

/* Search Style */

.search-box {
    width: fit-content;
    height: fit-content;
    position: relative;
}

.input-search {
    height: 30px;
    width: 31px;
    border-style: groove;
    font-size: 15px;
    letter-spacing: 1px;
    outline: auto;
    padding-right: 20px;
    color: #fff;
    width: 285px;
    border-radius: 0px;
    background-color: #71639e;
    border-bottom: 1px solid rgba(255, 255, 255, .5);
}

.input-search::placeholder {
      color: rgba(255, 255, 255, .5);
      font-size: 14px;
      letter-spacing: 1px;
      font-weight: 100;
}

.btn-search {
      width: 30px;
      height: 30px;
      border-style: none;
      font-size: 16px;
      font-weight: bold;
      outline: none;
      cursor: pointer;
      border-radius: 50%;
      position: absolute;
      right: 0px;
      color: #ffffff;
      background-color: transparent;
      pointer-events: painted;
}

.display_list{
color: black;
    margin-top: 239px;
    position: absolute;
    z-index: 1;
    background-color: white;
    width: 284px;
    border-color: #D3D3D3;
    border-style: solid;
    max-height: 200px;
    overflow-y: auto;
}

.search_view_click:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#close_button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

/* Responsive Design */
@media screen and (max-width: 768px) {
    #main_grad_1 {
        height:4000px;
    }
    .card {
        width: 45%;
    }
    #status-card-row{
        width: 100%;
        margin-top: 0%;
        margin-left: 0% !important;
    }
    .status-card {
        width: 100%;
    }

    #sales_main_view{
        width:100% !important;
        height:auto !important;
        margin-top: 0% !important;
        margin-left: 0% !important;
    }
    #scroll-chart {
        flex-direction: column !important;
        max-width:100% !important;
        height:auto !important;
    }
        .customer_value{
        margin-left: 3% !important;
        margin-top: 0% !important;
        width: 100% !important;
    }

    .product_value{
        width: 100% !important;
        margin-left: 3% !important;
    }

    .region_value{
        margin-top: 0% !important;
        width: 100% !important;
        margin-left: 3% !important;
    }
    .country_value {
        margin-top: 0% !important;
        margin-left: 3% !important;
        width: 100% !important;
    }

    .product_qty {
        margin-top: 0% !important;
        margin-left: 3% !important;
        width: 100% !important;
    }

    .line_chart {
        margin-top: 9% !important;
        margin-left: 1% !important;
        width: 99% !important;
    }

    .barchart {
        margin-top: 5% !important;
        margin-left: -17% !important;
        width: 100% !important;
    }

}

@media screen and (max-width: 480px) {
    .card {
        width: 100%;
    }

    #status-card-row {
        width: 100%;
    }

    .status-card {
        width: 100% ;
    }

    #sales_main_view{
       flex-flow: row;
        margin-bottom: 10px !important;
        flex-wrap: wrap !important;
        max-width:100% !important;
        height:auto !important;
        margin-top: 0% !important;
        margin-left: 0% !important;
    }

    #main_grad_1 {
        height: 3000px !important;

    }

    #scroll-chart {
        width: 100% !important;
        flex-direction: column !important;
        flex-direction: column !important;
        max-width:100% !important;
        height:auto !important;
    }

    .customer_value{
        margin-left: 3% !important;
        margin-top: 0% !important;
        width: 100% !important;
    }

    .product_value{
        width: 100% !important;
        margin-left: 3% !important;
    }

    .region_value{
        margin-top: 0% !important;
        width: 100% !important;
        margin-left: 3% !important;
    }
    .country_value {
        margin-top: 0% !important;
        margin-left: 3% !important;
        max-width: 100% !important;
    }

    .product_qty {
        margin-top: 0% !important;
        margin-left: 3% !important;
        width: 100% !important;
    }

    .line_chart {
        margin-top: 9% !important;
        margin-left: 1% !important;
        /* justify-content: center !important; */
        width: 99% !important;
    }

    .barchart {
                margin-top: 5% !important;
        margin-left: -17% !important;
        width: 100% !important;
    }

}